<div>
  <div class="logo">
    <img [src]="logo" alt="Logo">
  </div>
  <ion-text color="brown">
    <h2 style="text-align: center; font-weight:bold">Dash3</h2>
  </ion-text>

  <div class="slider">
    @if(select){
      <button class="btn btn-active" (click)="toggleSelect(0)">Connexion</button>
      <button class="btn" (click)="toggleSelect(1)">Inscription</button>
    }
    @else {
      <button class="btn" (click)="toggleSelect(0)">Connexion</button>
      <button class="btn btn-active" (click)="toggleSelect(1)">Inscription</button>
    }

  </div>

  <div class="card">
    @if(select){
      <app-register-page></app-register-page>
    }
    @else {
      <app-login-page></app-login-page>
    }

  </div>



</div>
