:root {
  --ion-color-green: #04764E;
  --ion-color-green-rgb: 4, 118, 78;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #046845;
  --ion-color-green-tint: #1d8460;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

:root {
  --ion-color-brown: #a45c55;
  --ion-color-brown-rgb: 164, 92, 85;
  --ion-color-brown-contrast: #ffffff;
  --ion-color-brown-contrast-rgb: 255, 255, 255;
  --ion-color-brown-shade: #90514b;
  --ion-color-brown-tint: #ad6c66;
}

.ion-color-brown {
  --ion-color-base: var(--ion-color-brown);
  --ion-color-base-rgb: var(--ion-color-brown-rgb);
  --ion-color-contrast: var(--ion-color-brown-contrast);
  --ion-color-contrast-rgb: var(--ion-color-brown-contrast-rgb);
  --ion-color-shade: var(--ion-color-brown-shade);
  --ion-color-tint: var(--ion-color-brown-tint);
}
