
  <ion-item >
    <ion-input label="Nom" fill="outline" labelPlacement="floating" placeholder="Prénom et Nom"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input label="Email" fill="outline" labelPlacement="floating" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input label="Mot de passe" fill="outline" labelPlacement="floating" placeholder="Mot de passe"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input label="Confirmation Mot de passe" fill="outline" labelPlacement="floating" placeholder="Confirmation Mot de passe"></ion-input>
  </ion-item>

  <div class="d-flex-center">
    <ion-button color="brown" class="ion-margin-top" shape="round" routerLink="/register">Inscription</ion-button>

  </div>

