<ion-content class="ion-padding" >
  <ion-text color="green">
    <h2 class="fw-bold">Connexion</h2>
  </ion-text>

  <ion-item>
    <ion-input label="Email" fill="outline" labelPlacement="floating" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input label="Mot de passe" fill="outline" labelPlacement="floating" placeholder="Mot de passe"></ion-input>
  </ion-item>

  <div class="d-flex-between-center">
    <ion-button color="green" class="ion-margin-top" routerLink="/index">Connexion</ion-button>
    <ion-text color="green" class="ion-margin-top cursor-pointer" routerLink="/register">Inscription</ion-text>
  </div>


</ion-content>
