

  <ion-item>
    <ion-input label="Email" fill="outline" labelPlacement="floating" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-input label="Mot de passe" fill="outline" labelPlacement="floating" placeholder="Mot de passe"></ion-input>
  </ion-item>


  <div class="d-flex-center">
    <ion-button color="brown" class="ion-margin-top" shape="round" routerLink="/index">Connexion</ion-button>
  </div>

  <div class="ion-margin-top d-flex-center">
    <ion-text href="http://">Mot de passe oublié</ion-text>
  </div>
